* {margin: 0; padding: 0; box-sizing: border-box;}
button {cursor: pointer;}
body {
    padding: 24px;
}
section {margin-top: 24px;}
.top textarea,
.top button,
.topologyPath textarea,
.topologyPath button,
.calcVideoTimeFromLog textarea,
.calcVideoTimeFromLog button,
.mediaNodePath textarea,
.mediaNodePath button {
    width: 80%;
    height: 36px;
    line-height: 34px;
    padding: 0 6px;
}
